<style>
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
</style>
<div class="auth-container">
    <div class="login"> 
        <img src="/images/logopdart.jpeg" alt="logopd" width="100px" class="logopdart">
        <h2>Login</h2>
    </div>
   
    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Digite o seu email">
        </div>
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" 
            placeholder="Digite a sua senha">
        </div>
        <div class="ipt-entrar">
            <input type="submit" value="Entrar">
            </div>
        <p>Não tem uma conta? <a href="/register">Clique aqui!</a></p>  
        
        
    </form>
    
    <a class="btn-voltar" href="/"><i class="bi bi-reply"></i></a>
</div>