<header id="head"> 
        <a class="logo"> 
            <img src="/images/logopdart2.png" alt="logopd" width="300px">
        </a>
</header>
<main class="finish">
<h1> Você será redirecionado para a página de Pagamento!</h1>
<br>
<h2> Agradecemos a preferência!</h2>

</main>
<a class="btn-voltar2" href="/products/buy">Voltar para o carrinho!</a>